.code-wrap {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: #283237;

  > code {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    font-size: 13px;
    font-size: 0.9em;
  }
}

code .keyword {
  color: #8cb5fd;
}

code .string {
  color: #db786b;
}

code .method {
  color: #74a08f;
  font-weight: bold;
}

code .comment {
  color: #566a75;
}

code .num {
  color: #c199e7;
}
