.code-wrap {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: #444;

  > code {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    font-size: 13px;
    font-size: 0.9em;
  }
}

code .string {
  color: #F58F29;
}

code .method {
  color: #EC368D;
  font-weight: bold;
}

code .comment {
  color: #999;
}

code .number {
  color: #51E5FF;
}
